@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
}

:root {
  font-family: "Nunito", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background: no-repeat
    linear-gradient(140deg, rgb(12, 71, 94) 0%, rgb(45, 122, 111) 100%); */
  min-height: 100vh;
  @apply bg-gray-100;
}

button {
  cursor: pointer;
}

.icon-button {
  @apply rounded-full bg-white hover:bg-gray-200 active:bg-gray-300 transition-colors w-fit;
}
