@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --color-theme-1: var(--color1);
  --color-theme-2: var(--color2);
}

:root {
  --color1: gray;
  --color2: gray;
  font-family: "Nunito", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply cursor-pointer rounded-lg border border-theme-1 text-theme-1 hover:bg-theme-1 hover:text-white transition-colors;
}

input {
  @apply border border-theme-1 focus:outline-theme-1 rounded-lg;
}
